---
import BaseLayout from "../layouts/BaseLayout.astro";
import StudentCard from "../components/StudentCard.astro";
import data from "../data/data.json";

// data object
const { students } = data;
// variables
const title = 'DESN FMLY Seniors 2026'
---

<BaseLayout title={title}>
  
  <h1 id="main-title"> {title} </h1>
  
  <main>

    {students.map((student) => (
      <StudentCard {...student} />
    ))}
  
</main>

</BaseLayout>

<style>
  #main-title {
    font-size: 4rem;
    font-weight: 1000;
    text-align: center;
    margin: 1rem 0 1.5rem 0;
    font-family: 'Satoshi', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: -1px;
  }
</style>

